---
# generic fallback item page layout
# displays image or icon depending on "image_thumb"
layout: item/item-page-base
custom-foot: annotated-media/js/transcript-js.html
---
<!-- annotated-media item layout -->
{%- comment -%} Determine if transcript filename is the objectid of the item or if it is determined by the metadata's object-transcript field, or if it even exists at all {%- endcomment -%}
{% if page.object-transcript contains ".csv"%}
    {% assign temp = page.object-transcript | remove: ".csv" %}
    {% assign transcript-items = site.data.transcripts[temp] %}
{% elsif page.object-transcript %}
    {% assign transcript-items = site.data.transcripts[page.object-transcript] %}
{% else %}
    {% assign transcript-items = site.data.transcripts[page.objectid] %}
{% endif %}

{%- comment -%} Determine if timepoint filename is the objectid of the item or if it is determined by the metadata's object-timepoint field, or if it even exists at all {%- endcomment -%}
{% if page.object-timepoints contains ".csv"%}
    {% assign temp = page.object-timepoints | remove: ".csv" %}
    {% assign timepoint-items = site.data.timepoints[temp] %}
{% elsif page.object-timepoints %}
    {% assign timepoint-items = site.data.timepoints[page.object-timepoints] %}
{% else %}
    {% assign timepoint-items = site.data.timepoints[page.objectid] %}
{% endif %}

{%- comment -%} if using color-coded visualization find all words used in the subject metadata {%- endcomment -%}
{% if site.data.filters and transcript-items %}
    {% include annotated-media/style/filter-style.html %}
    {%- assign min-count = 1 -%}
    {%- assign raw-subjects = transcript-items | map: "tags" | compact | join: ";" | split: ";" -%}
    {%- capture subjects -%}{% for s in raw-subjects %}{% if s != "" %}{{- s | strip | downcase -}};{% endif %}{%- endfor
-%}{%-endcapture -%}
    {%- assign subjects = subjects | split: ";" -%}
    {%- assign uniqueSubjects = subjects | uniq | sort -%}
{% endif %}

{%- comment -%} determine AV component (if there is one) {%- endcomment -%}
{% if page.object_location contains 'vimeo' %}
    {% assign av = "vimeo" %}
    {% assign vimeo_id = page.object_location | split: '/' | last %}
{%- elsif page.object_location contains 'youtu' -%}
    {% assign av = "youtube" %}
    {% assign youtube_id = page.object_location | split: '/' | last %}
    {% if youtube_id contains 'v=' %}
        {% assign youtube_id = youtube_id | split: 'v=' | last | split: '&' | first %}
    {% elsif youtube_id contains '?' %}
        {% assign youtube_id = youtube_id | split: '?' | first %}
    {% endif %}
{%- elsif page.object_location contains 'mp3' or page.object_location contains 'ogg' -%}
    {% assign av = "mp3" %}
{%- elsif page.object_location contains 'soundcloud' -%}
    {% assign av = "soundcloud" %}
    {% assign soundcloud_id = page.object_location | split: '.com/' | last %}
{%endif%}

<div id="upper-content">
    {% if site.data.theme.media-scroll == true %}
        {% include annotated-media/style/media-scroll-wrapper.html %}
    {% endif %}
    {% if av %}
        {% include annotated-media/item/av.html %}
    {% endif %}
    
    {% if transcript-items or timepoint-items %}
        <div id="media-metadata">
            {% include annotated-media/item/transcript-metadata.html %}
        </div>    
    {% endif %}
</div>

{% include annotated-media/item/filters.html %}
{% if transcript-items and timepoint-items %}
    {% if site.data.filters %}
        {% include annotated-media/item/transcript-viz.html %}
    {% endif %}
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-overview-tab" data-bs-toggle="pill" 
                data-bs-target="#pills-overview" type="button" role="tab" aria-controls="pills-overview" 
                aria-selected="true">Overview</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-transcript-tab" data-bs-toggle="pill" 
                data-bs-target="#pills-transcript" type="button" role="tab" aria-controls="pills-transcript" 
                aria-selected="false">Transcript</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
            {% include annotated-media/item/timepoints.html %}
        </div>
        <div class="tab-pane fade" id="pills-transcript" role="tabpanel" aria-labelledby="pills-transcript-tab">
            {% include annotated-media/item/transcript.html %}
        </div>
    </div>
{% elsif transcript-items %}
    {% if site.data.filters %}
        {% include annotated-media/item/transcript-viz.html %}
    {% endif %}
    {% include annotated-media/item/transcript.html %}
{% elsif timepoint-items %}
    {% include annotated-media/item/timepoints.html %}
{% endif %}

